# Python
__pycache__/
*.pyc

# Jupyter notebooks
*.ipynb

# Dataset and model files
*.csv
*.pkl
*.joblib
*training*
*simulation*
*feature_names*
*Network*

# Node modules
node_modules/

# Build outputs
dist/
